.user-profile-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style:double;
    border-radius: 3%;
    max-width: 240px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: aqua;
}

.profile-img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}